@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-family: Spartan;
  padding: 30px;
}

.body-blue-theme {
  background-color: hsl(222, 26%, 31%);
}
.body-white-theme {
  background-color: hsl(0, 0%, 90%);
}
.body-purple-theme {
  background-color: hsl(268, 75%, 9%);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

* {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr;
  align-items: center;
  height: 100px;
}
.header-blue {
  color: white;
}
.header-white {
  color: hsl(221, 14%, 31%);
}
.header-purple {
  color: hsl(52, 100%, 62%);
}
#theme-switcher-container {
  display: flex;
  flex-direction: column;
}
#theme-switcher-container div {
  display: flex;
  justify-content: space-between;
}
input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']::-moz-range-track {

  height: 25px;
  border-radius: 10px;
}

.toggle-blue::-moz-range-track {
  background-color: hsl(223, 31%, 20%);
}
.toggle-blue::-moz-range-thumb {
  background-color: hsl(6, 63%, 50%);
}
.toggle-white::-moz-range-track {
  background-color: hsl(0, 5%, 81%);
}
.toggle-white::-moz-range-thumb {
  background-color: hsl(25, 98%, 40%);
}
.toggle-purple::-moz-range-track {
  background-color: hsl(268, 71%, 12%);
}
.toggle-purple::-moz-range-thumb {
  background-color: hsl(176, 100%, 44%);
}

section {
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}
.section-blue {
  background-color: hsl(224, 36%, 15%);
  color: white;
}

.section-white {
  background-color: hsl(0, 0%, 93%);
  color: hsl(221, 14%, 31%);
}
.section-purple {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}

main {
  border-radius: 10px;
  margin-top: 30px;
}
.main-blue {
  background-color: hsl(223, 31%, 20%);
}
.main-white {
  background-color: hsl(0, 5%, 81%);
}
.main-purple {
  background-color: hsl(268, 71%, 12%);
}
#numpad-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 30px;
}
.key {
  user-select: none;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-blue {
  background-color: hsl(30, 25%, 89%);
  border-bottom: 4px solid hsl(28, 16%, 65%);
}
.special-key-blue {
  background-color: hsl(225, 21%, 49%);
  border-bottom: 4px solid hsl(224, 28%, 35%);
}
.key-white {
  background-color: hsl(45, 7%, 89%);
  border-bottom: 4px solid hsl(35, 11%, 61%);
}
.special-key-white {
  background-color: hsl(185, 42%, 37%);
  border-bottom: 4px solid hsl(185, 58%, 25%);
}
.key-purple {
  background-color: hsl(268, 47%, 21%);
  color: hsl(52, 100%, 62%);
  border-bottom: 4px solid hsl(290, 70%, 36%);
}
.special-key-purple {
  background-color: hsl(281, 89%, 26%);
  color: white;
  border-bottom: 4px solid hsl(285, 91%, 52%);
}

.big-key {
  user-select: none;
  border-radius: 5px;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
}

.equal-key-blue {
  background-color: hsl(6, 63%, 50%);
  border-bottom: 4px solid hsl(6, 70%, 34%);
}
.equal-key-white {
  background-color: hsl(25, 98%, 40%);
  border-bottom: 4px solid hsl(25, 99%, 27%);
}
.equal-key-purple {
  background-color: hsl(176, 100%, 44%);
  border-bottom: 4px solid hsl(177, 92%, 70%);
}

@media screen and (min-width: 600px){
  body {
    padding: 150px;
  }
}
@media screen and (min-width: 800px){
  body {
    padding-left: 250px;
    padding-right: 250px;
  }
}
@media screen and (min-width: 1000px){
  body {
    padding-left: 300px;
    padding-right: 300px;
  }
}
@media screen and (min-width: 1200px){
  body {
    padding-left: 400px;
    padding-right: 400px;
  }
}
@media screen and (min-width: 1500px){
  body {
    padding-left: 600px;
    padding-right: 600px;
  }
}
